.App {
  background-color: #021524;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 700px;
}

html,body, div, span,section,article,i,li, a,h5, h6,input {
  padding: 0;
  margin: 0;
  list-style: none;
  font-style: normal;
  text-decoration: none;
  border: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color:transparent;
  -webkit-font-smoothing: antialiased;
}

i {
  padding-left: 15px;
}

.header {
  background-color: white;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top: 40px;
  display: flex;
  height: 40px;
}

.bottom {
  display: flex;
  flex: 1;
}

.fixedSize {
  background-color: #021524;
  width: 300px;
  margin-left: 10px;
  height: 100%;
}

.flexSize {
  margin-left: 10px;
  background-color: #021524;
  flex: 1;
}
