.left_title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff11;
    height: 44px;
    font-size: 16px;
    color: #ebebeb;
}

.repo {
    overflow-y: scroll;
    height: 556px;
    width: 100%;
    display:block;
    border: 1px solid #ffffff11; 
    position: relative;
}

.repoTitle {
    background-color: #ffffff22;
    height: 35px;
    color: #ebebeb;
    display: flex;
    font-size: 12px;
    flex-direction: row;
    align-items: center;
}

.docTitle {
    background-color: #021524;
    height: 44px;
    color: #ebebeb;
    display: flex;
    font-size: 14px;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #ffffff11;
}