.left_title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #292929;
    height: 44px;
    font-size: 16px;
    color: #ebebeb;
}

.repo {
    overflow-y: scroll;
    height: 556px;
    width: 100%;
    display:block;
    position: relative;
}

.repoTitle {
    background-color: blueviolet;
    height: 44px;
    color: white;
    display: flex;
    font-size: 18px;
    flex-direction: row;
    align-items: center;
}

.docTitle {
    background-color: orange;
    height: 44px;
    color: white;
    display: flex;
    font-size: 18px;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px dashed gray;
}